.mario{
    background-color: white;
    color: red;
}

.zelda {
    background-color: #005A39;
        color: #F8DE55;
}

.kirby {
    background-color: #ce1756;
    color: #e3b968;
}

.pokemon {
    background-color: #4773f6;
    color: #FEFD0F;
}